<footer class="width-1/1">
  <div
    class="background-cover height-medium flex flex-align-items-center flex-justify-content-between padding-large"
    style="background-image: url(assets/images/footer.png)"
  >
    <div class="width-1/2 padding-large">
      <img src="assets/images/logo-white.png" alt="Logo" height="100" />
      <h4 class="width-1/2 color-light">
        Discover the Natural Soul of Magelang
      </h4>
      <p class="color-light text-small">
        Pusat informasi wisata alam Magelang. <br />
        Temukan destinasi terbaik dan jelajahi pesona alamnya.
      </p>
      <p></p>
      <p class="margin-medium margin-remove-horizontal color-light text-small">
        <b>2026 Discover the Soul of Magelang. All rights reserved.</b>
      </p>
    </div>
    <div class="width-1/2 flex flex-column flex-align-items-end gap-medium">
      <div class="flex flex-row gap-small">
        <div>
          <p class="color-light text-medium"><b>Beranda</b></p>
          <p class="color-light margin-remove-bottom">Galeri</p>
          <p class="color-light margin-remove-bottom">Eksplor Wisata</p>
          <p class="color-light margin-remove-bottom">Tentang Kami</p>
        </div>
        <div>
          <p class="color-light text-medium"><b>Eksplor Wisata</b></p>
          <p class="color-light margin-remove-bottom">Gunung & Bukit</p>
          <p class="color-light margin-remove-bottom">Air Terjun</p>
          <p class="color-light margin-remove-bottom">Camping & Hutan</p>
          <p class="color-light margin-remove-bottom">Sunrise Spot</p>
          <p class="color-light margin-remove-bottom">Petualangan</p>
        </div>
      </div>
      <div class="flex flex-row gap-small padding-medium">
        <i
          class="fa-brands fa-square-twitter fa-2xl"
          style="color: rgb(255, 255, 255)"
        ></i>
        <i
          class="fa-brands fa-instagram fa-2xl"
          style="color: rgb(255, 255, 255)"
        ></i>
        <i
          class="fa-brands fa-square-facebook fa-2xl"
          style="color: rgb(255, 255, 255)"
        ></i>
        <i
          class="fa-brands fa-youtube fa-2xl"
          style="color: rgb(255, 255, 255)"
        ></i>
      </div>
    </div>
  </div>
</footer>
